.file-display {
 background-color: blue;
 color: white;
 padding: 20px;
 border-radius: 5px;
}

.x-logo {
 max-width: 100px;
}

.close-btn {
 background-color: red;
 color: white;
 border: none;
 padding: 5px 10px;
 cursor: pointer;
 float: right;
}

.sidebar-item {
 cursor: pointer;
}
